<form method="post" action="{{ path('recette.delete', {'id': recette.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ceci ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recette.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
